.App {
  background-image: url("./images/cityScape.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
}

.row {
  margin-left: 0;
  margin-right: 0;
}