.findAConsultantPageImages {
    width: 20%;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}

.consultantsDiv {
    width: 100%;
}

.homePageContainer{
    display: flex;
    flex-direction: column;
}

.homePageFeaturedConsultants {
    text-align: center;
}

.featuredConsultantsProfilesList div.project-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-list div.businessSearchProfiles {
    text-align: center;
}

.homePageFeaturedConsultants h2 {
    color: white;
    font-weight: bold;
}