.findAConsultantPageImages {
    width: 20%;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}

.consultantsDiv {
    width: 100%;
}

.homePageContainer{
    display: flex;
    flex-direction: column;
}

.homePageFeaturedConsultants {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}