.contactSubmitLogo{
    max-width: 90%;
}

.ContactFormSubmit{
    background-color: #0066cc;
    border-radius: 20px;
    text-align: center;
    width: 75%;
    margin:0 auto;
    border: 1px solid #333;
    margin-top: 20px;
    padding: 30px;
    color: white;
}

.contactSubmitParagraph {
    font-size: 20px;
    display:block;
    margin:auto;
    position: relative;
    top: 10%;
}

.contactSubmitHeader {
    font-weight: bold;
    text-align: center; 
    display:block;
    margin:auto;
    position: relative;
    top: 10%;
}

.contactSubmitLogo {
    position: relative;
    display:block;
    margin:auto;
    top: 10%;
}

.returnToFindAConsultantCallToAction {
    margin-top: 20px;
}

.returnToFindAConsultant {
    display: flex;
    justify-content: center;
    align-items: center;
}

.returnToFindAConsultant h3 {
    margin: 10px;
}

.returnToFindAConsultant button {
    margin: 10px;
    background-color: #0066cc;
    color: white;
    border: 1px solid #333;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
}

.returnToFindAConsultant button:hover {
    cursor: pointer;
}