.ContactFormSubmittedPage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactSubmitLogo{
    max-width: 90%;
}

.ContactFormSubmit{
    background-color: #0066cc;
    border-radius: 20px;
    text-align: center;
    width: 75%;
    margin:0 auto;
    /* border: 1px solid #333; */
    box-shadow: 10px 10px 10px rgba(169, 169, 169, 0.5);
    margin-top: 20px;
    padding: 30px;
    color: white;
}

.contactSubmitParagraph {
    font-size: 20px;
    /* display:block;
    margin:auto;
    position: relative;
    top: 10%;
    margin-bottom: 20px; */
    text-align: center;
}

.contactSubmitHeader {
    font-weight: bold;
    text-align: center; 
    padding: 0px;
    margin: 20px;
    /* display:block;
    margin:auto;
    position: relative; */
    /* top: 10%; */
}

.returnToFindAConsultantCallToAction {
    margin-top: 20px;
}

.returnToFindAConsultant {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.returnToFindAConsultant h3 {
    margin: 10px;
}

.returnToFindAConsultant button {
    margin: 10px;
    background-color: #0066cc;
    color: white;
    border: 1px solid #333;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
}

.returnToFindAConsultant button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 420px) {
    .contactSubmitHeader h1 {
        font-size: 30px;
      } 
    .contactSubmitParagraph h2 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 420px) {
    .contactSubmitHeader h1 {
        font-size: 25px;
      } 
    .contactSubmitParagraph h2 {
        font-size: 20px;
    }
}