.sticky{
    top: 0;
    width: 100%;
}

.navbarCenter {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    line-height: 50px;
}

.navbarLeft {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarRight {
    float: right;
    padding-top: 5px;
    /* margin-right: 20px; */
}

.navbar-header{
    /* background-color: #451417; */
    background-color: #0066cc;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
}

.navbarTitle {
    text-decoration: none;
    font-size: 30px;
    width: 100%;
    color: white;
    text-align: center;
    /* float: l
    eft; */
}

.navbar-brand {
    text-decoration: none;
    color: white;
    /* margin-right: 10px; */
    line-height: 50px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
}

.hamburgerMenuDiv {
    display: none;
}

.mobileMenu {
    transition: transform 400ms ease-in;
}

.mobileNavbarCenter {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    align-items: center;
    text-align: center;
    line-height: 50px;
}

.mobile-navbar-brand {
    text-decoration: none;
    color: white;
    /* margin-right: 10px; */
    line-height: 50px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    margin: 5px;
}

.mobileSocialItems {
    color: #ffffff;
    font-size: 18px;
    line-height: 50px;
}

/* .headerContainer{
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
} */
  
.navbar{
    margin-bottom: 0px;
    padding: 0px;
    width: 100%;
}

.authMenuItems {
    float: left;
}

.socialItems {
    color: #ffffff;
    font-size: 20px;
    line-height: 50px;
}

@media only screen and (max-width: 1339px) {
    .navbarTitle {
        font-size: 24px;
    }
}

@media only screen and (max-width: 1095px) {
    .navbarTitle {
        font-size: 20px;
    }
    .navbar-brand {
        font-size: 16px;
    }
}

@media only screen and (max-width: 991px) {
    .navbarRight {
        margin-right: 10px;
    }
}

@media only screen and (max-width: 933px) {
    .navbarTitle {
        font-size: 18px;
    }
    .navbar-brand {
        font-size: 18px;
    }
}

@media only screen and (max-width: 852px) {
    .hamburgerMenuDiv {
        display: flex;
        justify-content: right;
        align-items: center;
    }
    .allMenuItems,
    .socialItems{
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .mobileNavbarCenter,
    .mobileAllMenuItems,
    .signInLinks,
    .signedOutLinks {
        display: flex;
        flex-direction: column;
    }
}
