.profileCard {
    width: 360px;
    /* margin: 20px; */
    padding: 5px;
    float: left;
    background-color: #ffffff;
    border-radius: 20px;
    border: solid 1px #030303;
    color: #0066cc;
    margin: 10px;
    display: flex;
    flex-direction: column;
    
}

.profileCard p {
    flex: 1;
}

.businessProfileSummaryImage {
    max-height: 300px;
    width: auto;
    max-width: 100%;
    padding: 5px 20px 5px 20px;
    border-radius: 40px;
}

.profileSummaryBusinessName {
    margin-top: 10px;
    text-align: center;
}

.businessProfileSummaryDescription,
.businessProfileSummaryConsultingTypes {
    padding: 0 20px 0 20px;
    font-size: 16px;
}

.summaryTitle {
    text-decoration: underline;
    font-size: 20px;
    padding: 10px;
}

@media only screen and (max-width: 1160px) {
    .profileCard {
        width: 330px;
    }
}

@media only screen and (max-width: 1070px) {
    .profileCard {
        width: 300px;
    }
}

@media only screen and (max-width: 970px) {
    .profileCard {
        width: 270px;
    }
}

@media only screen and (max-width: 880px) {
    .profileCard {
        width: 250px;
    }
}

@media only screen and (max-width: 820px) {
    .profileCard {
        width: 220px;
    }
}

@media only screen and (max-width: 730px) {
    .profileCard {
        width: 210px;
    }
}

@media only screen and (max-width: 700px) {
    .profileCard {
        width: 275px;
    }
}