.profileCard {
    width: 400px;
    /* margin: 20px; */
    padding: 5px;
    float: left;
    background-color: #ffffff;
    border-radius: 20px;
    border: solid 1px #030303;
    color: #0066cc;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.profileCard p {
    flex: 1;
}

.businessProfileSummaryImage {
    width: 100%;
    padding: 5px 20px 5px 20px;
    border-radius: 40px;
}

.profileSummaryBusinessName {
    margin-top: 10px;
    text-align: center;
}

.businessProfileSummaryDescription,
.businessProfileSummaryConsultingTypes {
    padding: 0 20px 0 20px;
    font-size: 16px;
}

.summaryTitle {
    text-decoration: underline;
    font-size: 20px;
    padding: 10px;
}